@model IEnumerable<UserApplication.Models.SubjectInCourse>

@{
    ViewBag.Title = "SubjectInCourse";
    Layout = "~/Views/Shared/_LogOutPage.cshtml";
}
<h1 align="middle"><b>VIDHYA NIKETAN</b></h1>
<h2 align="middle"><i>THE INFINITE CAMPUS</i></h2>
<center><img src=" http://www.vidyaniketansaket.in/image/f-logo.png" width=" 90" height=" 90" /></center>

<h2>Subject In Course</h2>

<p>
    @*@Html.ActionLink("", "")*@
</p>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
            <td>
                @Html.ActionLink("Course Of Teacher", "TeachersCourse", new { id = item.CourseId })
               @* @Html.ActionLink("Back to profile", "StudentDetail", new { id = item.UserId }) *@
                @*@Html.ActionLink("Details", "Details", new { id=item.SubjectInCourseId }) |*@
                @*@Html.ActionLink("", "Student", new { id=item.SubjectInCourseId })*@
            </td>
        </tr>
    }

</table>


