@model IEnumerable<UserApplication.Models.Subject>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink("Applicaion Name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div class="navbar-collapse collapse">
            @Html.ActionLink("User List", "UserList", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Add Course", "CreateCourse", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Course List", "CourseList", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Subject List", "SubjectList", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Assign Subject To Teacher", "AssignSubjectToTeacher", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Add Subject", "CreateSubject", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Assign Subject To Course", "AssignSubjectForCourse", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Teacher Subject List", "TeacherSubjectList", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Course And Subject List", "CourseAndSubjectList", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand" })
            <ul class="nav navbar-right">
                @Html.ActionLink("LogOut", "LogOut", "User", new { area = "" }, new { @class = "navbar-brand" })
            </ul>
        </div>
    </div>
</div>
@{
    ViewBag.Title = "SubjectList";
    Layout = "~/Views/Shared/_LogOutPage.cshtml";
}
<h1 align="middle"><b>VIDHYA NIKETAN</b></h1>
<h2 align="middle"><i>THE INFINITE CAMPUS</i></h2>
<center><img src=" http://www.vidyaniketansaket.in/image/f-logo.png" width=" 90" height=" 90" /></center>

<h2>Subject List</h2>

<p>
    @Html.ActionLink(" ", " ")
</p>
<table class="table table-bordered table-responsive table-hover" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.SubjectId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.SubjectId }) |*@
                @Html.ActionLink("Delete Subject", "DeleteSubject", new { id = item.SubjectId })
            </td>
        </tr>
    }

</table>
<p>
    @Html.Partial("_AssignSubjectForCourseButtonPartial")
    @Html.Partial("_BackToListButtonPartial")
    @Html.Partial("_AddSubjectButtonPartial")
</p>
