@model IEnumerable<UserApplication.Models.TeacherInSubject>

@{
    ViewBag.Title = "TeacherSubjectList";
    Layout = "~/Views/Shared/_LogOutPage.cshtml";
}

<h2>Teacher Subject List</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.TeacherInSubjectId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeacherInSubjectId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeacherInSubjectId })*@
        </td>
    </tr>
}

</table>
<p>@Html.Partial("_BackToListButtonPartial")</p>
